button {
  outline: none;
  border: none;
  height: 30px;
  margin: 0px;
  border-radius: 2px;
  width: 50%;
}

div.increment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div#repeat {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#minus, button#plus {
  width: 30%;
}

div.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button#start {
  background: red;
}

button#stop {
  background: green;
}